/**
 * Header
 */
.header {
	@include clearfix;
	@include fixed($left: $sidebar-width, $top: 0, $right: 0);
	background: $primary-color;
	box-shadow: 0 2px 5px rgba(0, 0, 0, .26);
	color: $light-grey;
	padding: 1em 0;
	z-index: z('dropdown');

	@include respond-to('small') {
		left: 0;
	}

	@include respond-to('medium') {
		transition: .2s cubic-bezier(.215, .61, .355, 1);
	}
}

/**
 * Main title
 */
.header__title {
	font-weight: 500;
	margin: 0 0 .5em 0;
	text-align: center;

	a {
		color: $light-grey;
	}

	@include respond-to('medium') {
		float: left;
		font-size: 1em;
		margin-bottom: 0;
		margin-top: .25em;
	}
}
