/**
 * Univeral box-sizing reset
 */
html {
	@include prefixer(box-sizing, border-box, 'webkit' 'moz');
}

*, *::after, *::before {
	@include prefixer(box-sizing, inherit, 'webkit' 'moz');
}

/**
 * Body rules
 */
body {
	font: 1em / 1.35 $font-family-sans;
	margin: 0;
	overflow: auto;
}

/**
 * Links
 */
a {
	color: $primary-color;
	text-decoration: none;
	transition: .15s;

	&:hover {
		&, code {
			color: $black;
		}
	}
}

/**
 * Vertical rhythm
 */
table p {
	margin: 0 0 ($vertical-rhythm / 3);
}

/**
 * Code
 */
:not(pre) > code {
	color: $primary-color;
	font-weight: normal;
	white-space: nowrap;
}

/**
 * Tables
 */
@include respond-to('small') {
	table, tbody, tr, td, th {
		display: block;
	}

	thead {
		@include visually-hidden($extend: false);
	}

	tr {
		border-bottom: 2px solid $medium-grey;
		margin-bottom: 1em;
		padding-bottom: 1em;
	}

	td, th {
	&::before {
		content: attr(data-label) ': ';
		font-weight: bold;
		text-transform: capitalize;
	}

	p {
		display: inline;
	}
	}
}
